<div class="container"> 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="<%= welcome_index_path %>"><img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Pinterest-Icon-Square.png?resize=300%2C300" style="width:30px"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="<%= welcome_index_path %>">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= pins_path %>">Pins</a>
    </li>

  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

    <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
            <a class="btn btn-primary" type="submit" href="<%= new_user_session_path %>">Ingreso</a>   
            <a class="btn btn-secondary" type="submit" href="<%= new_user_registration_path %>">Registro</a>     
        <% else %>
            <a class="btn btn-secondary" href="<%= destroy_user_session_path %>" data-method="delete">Salir</a>     
        <% end %>
    </ul>
</div>
</nav>

</div>